*{
    padding: 0 0;
    margin: 0px;
}
body {
  font-family: "Lato", sans-serif;
  /* font-family: 'Lobster', cursive; */
}

.container{
    padding: 5% 10%;
}

.nav{
    justify-content: space-around;
    padding-top: 90px;
    align-items: center;
}
.menu a, .fas{
    text-decoration: none;
    padding-right: 2em;
    color: black;
    font-weight: 600;

}
.btn {
    margin: 15px 0;
}
.btn a{
    text-decoration: none;
    background-color: #e91e63;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
}
.grid-duel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3em;
}
.card{
    border: 2px solid red;
    min-height: 350px;
    border-radius: 30px;

}
.card img{
    
}
.flex{
    display: flex;
}
.flex-start{
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: center;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.padding{
    padding: 10px 0;
    
}
.font{
    font-size: 50px;
}
.logo{

    justify-content: space-evenly;
    align-items: center;
}
.column{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
    padding: 12px 5px;
    margin: 12px 5px;
    border: 1px solid white;
    background-color: rgba(69, 79, 151, 0.746);
    border-radius: 60%;
}
.icon:hover{
    transform: scale(120%);
    
}

.footer {
  min-height: 200px;
  background-color: black;
  color: white;
}
