*{
    padding: 0 0;
    margin: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 2% 10%;
}
/* -----------------Header-------------- */
.nav{
    justify-content: space-between;
    padding-top: 20px;
    align-items: center;
    padding-bottom: 40px;
}
.menu a, .fas{
    text-decoration: none;
    padding-right: 2em;
    color: black;
    font-weight: 600;

}
.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 196px;
    text-decoration: none;
    background-color: #e91e63;
    color: white;
    margin-top: 20px;  
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
}
.grid-duel{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
}
/* .item{
    background-color: #AAAAAA;
} */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.card{
    /* border: 2px solid red; */
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    background-color: white;
    max-height: 476px;
    max-width: 329px;
    margin: auto;
    padding: 10px 10px;
    border-radius: 5px;
    /* box-shadow: ; */
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px 5px #AAAAAA;
}
.card:hover{
    transform: scale(105%);
    transition: .5s ease-in-out;
}
.filled{
    padding-right: 2px;
    color: orange;
}
.empty{
    color: rgb(235, 224, 224);
}
.text-white{
    color: white;
}
.radius{
    border-radius: 30px;
}
.card img{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 256px;
    width: 300px;
}
.flex{
    display: flex;
}
.flex-start{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}
.align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.item-container{
    margin: 100px 0;
}
.item-container > h2{
    margin: 50px 0;
}
.padding{
    padding: 10px 0;
}
.margin{
    margin-bottom: 20px;
}
.font-50{
    font-size: 50px;
}
.font-28{
    font-size: 28px;
}
.font-24{
    font-size: 24px;
}
.font-14{
    font-size: 14px;
}
.weight-700{
    font-weight: 700;
}
.weight-600{
    font-weight: 600;
}
.height-70{
    line-height: 20px;
}

.grid-logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-column-gap: 20px; */
    justify-content: center;
    align-items: center;
    padding-top: 50px ;
    padding-bottom: 50px;
    border-top: .5px solid rgb(231, 224, 224);
    border-bottom: .5px solid rgb(231, 224, 224);
}
.column{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon{
    padding: 12px 5px;
    margin: 12px 5px;
    /* height: 32px;
    width: 32px; */
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 60%;
}
.icon:hover{
    color:#e91e63 ;
    background-color: white;
    transform: scale(120%);
    transition: .5s ease-in-out;
    
}

.footer {
  min-height: 200px;
  background-color: black;
  color: white;
}

/* ------------------Media Query------------------- */
/* -------for Mobile Device---------- */
@media only screen and (max-width:688px) {
    .grid{
     /* background-color: red;    */
     grid-template-columns: repeat(1, 1fr);
    }
    .grid-logo{
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-duel{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column-reverse;
    }
}


/* ------Tablet Device-------- */
@media only screen and (min-width:689px) and (max-width:992px) {
    .grid{
     /* background-color: red;    */
     grid-template-columns: repeat(2, 1fr);
    }
    .grid-logo{
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-duel{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column-reverse;
    }

}
